.jumbotron{
    padding-top: 2rem;
    background-color: darkgray;
}
input{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
}
textarea{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
}
input[type=submit]{
background-color: #4CAF50;
color: white;
border: none;
cursor: pointer;
}
input[type=submit]:hover{
background-color: #45a049;
}
div{
border-radius: 5px;
background-color: transparent;
padding: 20px;
}
*{
box-sizing: border-box;
}
.row{
margin: 0 -5px;
}
.row::after{
content: left;
display: table;
clear: both;
}
.column{
float: left;
width: 15%;
padding: 0 20px;
}
.card{
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width: 100%;
}
.card.hover{
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container{
padding: 2px 16px;
}
.project{
    background-color: darkgray;
}
